body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

img{
  max-width: 300px;
}

.backdrop{
  background-color: '#E1DCDA' !important;

}

.flex-container{
  padding: 0;
  margin: 0;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  justify-content: space-around;
}

.savedEvents-container{
  padding: 0;
  margin: 0;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  
  justify-content: space-around;
}

.event-container {
  padding: 25px 10px;
}

.eventInfo{
  padding: 0;
  margin: 0;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  justify-content: space-around;
}

.eventInfo-trash{
  position: relative;
  margin-top: 90px;
}


/* .flex-item{
  padding: 5px;
  width: 400px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
} */

.outerDiv {
  margin: 5% 10%;
}

.searchDiv {
  margin: 5% 30%;
}

h1{
  color: grey;

}

.result-buttons{
  position: relative;
  margin-top: 30%;
}

.result-container{
  margin: 0% 15%;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');