body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

img{
  max-width: 250px;
}

.backdrop{
  backgroundColor: '#E1DCDA'

}

.outerDiv {
  margin: 5% 10%;
}

.searchDiv {
  margin: 5% 30%;
}

h1{
  color: grey;

}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');